services:
  - type: web
    name: todo-rails
    runtime: ruby
    plan: starter
    region: oregon 
    buildCommand: ./bin/render-build.sh
    startCommand: bundle exec puma -C config/puma.rb
    envVars:
      - key: RAILS_ENV
        value: production
      - key: RAILS_LOG_LEVEL
        value: info
      - key: RAILS_SERVE_STATIC_FILES
        value: true
      - key: RAILS_MASTER_KEY
        sync: false 
      - key: DATABASE_URL
        fromDatabase:
          name: todo-rails-db
          property: connectionString
      - key: SECRET_KEY_BASE
        generateValue: true
    healthCheckPath: /up
    autoDeploy: true 

databases:
  - name: todo-rails-db
    databaseName: todo_rails_production
    user: todo_rails
    plan: starter 
    region: oregon
    postgresMajorVersion: 16